{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h2>Количество новостей: {{ news|length }} </h2> 
    {% if news %}
    <table class="table table-bordered">
        <tr style='border-width: 3px;'>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>
       
        {% for post in news %}
        <tr>
            <td><a href="/news/{{post.id}}">{{ post.title|censor }}</a></td>
            <td>{{ post.time_create|date:'d M Y' }}</td>
            <td>{{ post.post_text|truncatechars:20|censor }}</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}